body {
  margin: 0;
  padding: 0;
  min-width: 1390px;
}
body .header {
  width: 100%;
  height: 80px;
  background: rgba(250,250,250,0.7);
  border-bottom: solid 1px #aaa;
  box-shadow: 0 0 8px 0 #7e8c8d;
}
body .header.showhead {
  position: fixed;
  z-index: 50;
  top: 0;
/*transition transform 0.5s*/
  transform: rotateX(0deg);
  transform-origin: top;
  animation: aa 0.8s;
/*@keyframes aa{
        0% {transform: translateY(-100%) rotateX(90deg)}
        100% {transform: translateY(0) rotateX(0deg)}
      }*/
}
@-moz-keyframes aa {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes aa {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes aa {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes aa {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
body .header .header-wrap {
  width: 84%;
  height: 100%;
  background: rgba(250,250,250,0.5);
  margin: 0 auto;
}
body .header .header-wrap .header1 {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header .header-wrap .header2 {
  float: left;
  height: 80px;
  line-height: 80px;
  margin-left: 70px;
}
body .header .header-wrap .header2 a {
  font-size: 18px;
}
body .header .header-wrap .header2 a :nth-child(2) {
  color: #000;
  font-weight: 900;
}
body .header .header-wrap .header2 a :nth-child(3) {
  color: #000;
  font-weight: 900;
}
body .header .header-wrap .header2 a :nth-child(3):hover {
  color: #f00;
}
body .header .header-wrap .header-nav {
  float: right;
}
body .header .header-wrap .header-nav >ul >li {
  float: left;
  margin: auto 18px;
  height: 80px;
  line-height: 80px;
}
body .header .header-wrap .header-nav >ul >li a {
  font-size: 18px;
  font-weight: 900;
  color: #000;
}
body .header .header-wrap .header-nav >ul >li a.on {
  color: #f00;
}
body .header .header-wrap .header-nav >ul :nth-child(7) a {
  padding: 5px;
  background: #f00;
  border-radius: 5px;
  color: #fff;
}
body .content {
  width: 100%;
  height: auto;
/*margin-top 80px*/
}
body .content .content-nav-wrap {
  position: relative;
  width: 100%;
  height: 420px;
  margin: 0 auto;
  background: #8cf8ff;
}
body .content .content-nav-wrap .img-wrap {
  width: 100%;
  height: 420px;
}
body .content .content-nav-wrap .img-wrap .swiper-container {
  height: 420px;
}
body .content .content-nav-wrap .img-wrap .swiper-container .swiper-wrapper {
  position: relative;
}
body .content .content-nav-wrap .img-wrap .swiper-container .swiper-wrapper .swiper-slide {
  width: 84%;
  position: relative;
  overflow: hidden;
}
body .content .content-nav-wrap .img-wrap .swiper-container .swiper-wrapper .swiper-slide img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
body .content .content-nav-wrap .item-ul-wrap {
  width: 84%;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
body .content .content-nav-wrap .item-ul-wrap .item-ul {
  position: absolute;
  top: 0;
  left: 20px;
  width: 160px;
  height: 420px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background: #757881;
}
body .content .content-nav-wrap .item-ul-wrap .item-ul li {
  width: 160px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
/* width 20px
              height 20px
              box-sizing border-box
              border-right 10px solid red
              border-left  10px solid transparent
              border-top 10px solid transparent
              border-bottom  10px solid transparent*/
}
body .content .content-nav-wrap .item-ul-wrap .item-ul li .jiao {
  opacity: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #c8c8c8;
  transform: translateX(21px);
}
body .content .content-nav-wrap .item-ul-wrap .item-ul li.on {
  background: #50535c;
}
body .content .content-nav-wrap .item-ul-wrap .item-ul li.on a i {
  opacity: 0;
}
body .content .content-nav-wrap .item-ul-wrap .item-ul li.on .jiao {
  opacity: 1;
}
body .content .content-nav-wrap .item-ul-wrap .item-ul li a {
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}
body .content .content-nav-wrap .item-ul-wrap .item-ul2 {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
  width: 160px;
  height: 420px;
  align-items: center;
  background: rgba(200,200,200,0.5);
}
body .content .content-nav-wrap .item-ul-wrap .item-ul2 li {
  width: 160px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .content .content-nav-wrap .item-ul-wrap .item-ul2 li a {
  color: #505050;
  background: rgba(200,200,200,0.5);
  font-weight: 800;
  font-size: 16px;
}
body .content .content-nav-wrap .item-ul-wrap .item-ul2 li a.on1 {
  color: #f00;
}
body .content1-wrap {
  width: 100%;
}
body .content1-wrap .content1 {
  width: 84%;
  background: #fbf8f8;
  margin: 0 auto;
  padding: 50px 10px 20px;
}
body .content1-wrap .content1 h2 {
  width: 120px;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 700;
}
body .content1-wrap .content1 .content1-nav {
  width: 100%;
  position: relative;
}
body .content1-wrap .content1 .content1-nav ul {
  width: 560px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 14px auto;
  font-size: 22px;
  font-weight: 100;
}
body .content1-wrap .content1 .content1-nav .content1-right {
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 18px;
  font-weight: 100;
}
body .content1-wrap .content1 .content1-img-wrap {
  display: flex;
  justify-content: space-around;
}
body .content1-wrap .content1 .content1-img-wrap .content1-img {
  width: 230px;
  height: 345px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #bbb;
}
body .content1-wrap .content1 .content1-img-wrap .content1-img:hover {
  box-shadow: 3px 3px 8px 1px #7e8c8d;
}
body .content1-wrap .content1 .content1-img-wrap .content1-img >a >:nth-child(2) {
  font-size: 18px;
  color: #000;
  margin: 4px 0;
}
body .content1-wrap .content1 .content1-img-wrap .content1-img >a >:nth-child(3) {
  color: #999;
  font-size: 14px;
}
body .content1-wrap .content1 .content1-img-wrap .content1-img >a >:nth-child(4) {
  margin: 10px auto;
  width: 208px;
  height: 24px;
}
body .content1-wrap .content1 .content1-img-wrap .content1-img >a >:nth-child(4) >:first-child {
  color: #f00;
  float: left;
}
body .content1-wrap .content1 .content1-img-wrap .content1-img >a >:nth-child(4) >:last-child {
  float: right;
  color: #fff;
  background: #f00;
  border-radius: 4px;
  padding: 4px 10px;
}
body .content1-wrap .content1 .content1-img-wrap .content1-img >a img {
  width: 210px;
}
body .footer {
  width: 100%;
  height: auto;
  background: #fbf8f8;
}
body .footer .footer-top {
  width: 100%;
  overflow: hidden;
}
body .footer .footer-top h2 {
  font-size: 30px;
  font-weight: 800;
  width: 180px;
  margin: 80px auto 20px;
}
body .footer .footer-top h2 span {
  color: #f00;
  font-weight: 800;
}
body .footer .footer-top >:nth-child(2) {
  width: 420px;
  margin: 10px auto;
  font-size: 20px;
}
body .footer .footer-top >ul {
  width: 400px;
  height: 30px;
  margin: 20px auto;
}
body .footer .footer-top >ul >li {
  float: left;
  font-size: 18px;
  margin: 0 20px;
}
body .footer .footer-top >ul >li img {
  vertical-align: top;
}
body .footer .footer-top .city {
  width: 84%;
  margin: 0 auto;
}
body .footer .footer-top .city .city-left {
  padding: 10px 0;
  float: left;
  width: 100px;
  height: 200px;
  font-size: 20px;
  font-weight: 800;
}
body .footer .footer-top .city ul {
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
body .footer .footer-top .city ul li {
  width: 9.090909%;
  margin: 10px 0;
  text-align: center;
}
body .footer .footer-bottom {
  width: 84%;
  margin: 0 auto;
}
body .footer .footer-bottom .foot-he {
  font-weight: 800;
  font-size: 20px;
  margin: 10px 0;
}
body .footer .footer-bottom ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body .footer .footer-bottom ul li {
  width: 11.111%;
  margin: 10px 0;
}
body .footer .footer-bottom ul li img {
  width: 100px;
  background: #fff;
  padding: 10px;
}
body .footer .footer-bottom >p {
  padding: 10px 0 20px;
  color: #aaa;
}
